.productstyle{
    border: 1px solid gray;
        border-radius:5px;
        background-color: rgb(160, 251, 254);
        margin:10px;
        height:200px;
        width: 200px;
        float: left;
    

}
.btn{
    font-size: "20px";
  padding: "10px";
}